#flex_wrapper{
    height: 270px;
    width: auto;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
#flex_wrapper>img{
    width: 98%;
    height: 200px;
    margin: 8px;
    margin-left: 10px;
    cursor: pointer;
}
  
h3{
    margin: 10px;
    margin-top: 10px;
}
  
#right{
    color: gray;
    position: absolute;
    z-index: 1;
    font-size: 3rem;
    top: 45%;
    padding: 9px 0;
    left: 96%;
    transform: 'translateY(-50%)';
    cursor: pointer;
    border: 1px solid rgb(211, 211, 211,0.6);
    background-color: rgb(211, 211, 211,0.6);
    box-shadow: 0px 5px 5px 0px gray;
    border-radius: 5px;
}

#left{
    color:  gray;
    position: absolute;
    z-index: 1;
    font-size: 3rem;
    top: 45%;
    padding: 9px 0;
    left: 3px;
    transform: 'translateY(-50%)';
    cursor: pointer;
    border: 1px solid rgb(211, 211, 211,0.6);
    background-color: rgb(211, 211, 211,0.6);
    box-shadow: 4px 4px 4px 0px gray;
    border-radius: 5px;
}

#flex_wrapper>i:hover{
    border: 2px solid skyblue;
    padding:8px -20px ;
    color: rgb(63, 60, 60,0.9);
}

span{
    color: rgb(84, 174, 209);
    margin-left: 15px;
    font-size: 15px;
}

span:hover{
    color: rgb(238, 93, 40);
}

#fruits,#premium{
    height:150px;
}

#whitesneaker,#fav1{
    height: 176px;
}

#maincont>figure>img{
    height: 240px;
    width: 100%;
    cursor: pointer;
}

#maincont>figure>figcaption>span{
    color: black;
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 5px;
}

#inner_flex{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#inner_flex>figure>img{
    height: 60px;
    width: 60px;
    margin: 0;
    position: relative;
    top: -7%;
    cursor: pointer;
    border-radius: 5px;
}

#inner_flex>figure>img::after{
    border: 5px double rgb(81, 81, 196);
}

#maincont>figure>figcaption{
    text-align: center;
    font-size: 15px;
    text-overflow: ellipsis;
    position: relative;
    top: 10%;
    left: -5%;
    line-height: 1.4;
}

#flex1{
    transform: translateX(-40%);
}

#flex2{
    transform: translateX(-150%);
}

#flex3{
    transform: translateX(-260%);
}

#flex4{
    transform: translateX(-370%);
}

#fitness{
    height: 360px;
    width: 290px;
    margin: 0 17px;
    margin-bottom: -20px;
}

#top{
    background-color: #303755ef;
    padding: 13px;
    text-align: center;
    cursor: pointer;
}

#top:hover{
    background-color: rgba(48, 55, 85, 0.9);
}

#topgo{
    color: white;
    font-size: 14px;
    cursor: pointer;
}

#footer{
    background-color: rgb(34, 49, 65);
    margin: 0;
}

#footer1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 1.7;
    margin: 0;
}

.innerfooter{
    margin: 20px 10px;
    position: relative;
    padding: 0px;
}

.innerfooter>a{
    color: rgb(218, 214, 214);
    font-size: 14px;
    text-decoration: none;
}

.innerfooter>a:hover{
    text-decoration: underline;
}

.innerfooter>p{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#foot1{
    position: relative;
    left: 50%;
}

#foot2{
    position: relative;
    left: 30%;
}

#foot3{
    position: relative;
    left: 5%;
}

#foot4{
    position: relative;
    left: -7%;
}

#last{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    position: relative;
    left: 35%;
}

#last>p{
    color: white;
}

#footerlogo{
    margin-right: 5%;
    margin-top: 10px;
    cursor: pointer;
}


.india,.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.india{
    position: relative;
    left: 10px;
    height: 28px;
    width: 70px;
    padding-right: 10px;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255,0.6);
}

.india>p{
    color: white;
    font-size: 13px;
    margin-top: 15px;
}

#web{
    margin-left: 3px;
}

.lang{
    padding:0 10px;
    height: 28px;
    width: 115px;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255,0.6);
}

select{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

select>option{
    background-color: #fff;
    color: black;
}

.footer2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    position: relative;
    left: 15%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
    background-color: #141725;
}

.footer2>a{
    color: rgb(218, 214, 214,0.8);
    line-height: 1.5;
    text-decoration: none;
    margin-left: 60px;
    margin-top: 20px;
}

.footer2>a>strong{
    color: rgb(255, 255, 255,0.8);
}

.footer2>a:hover{
    text-decoration: underline;
}

#atlast{
    background-color: #141725;
}

#a2{
    position: relative;
    left: -1%;
}

#a4{
    position: relative;
    left: -1.6%;
}

#a3{
    position: relative;
    left: 1%;
}

#final>a{
    text-align: center;
    position: relative;
    left: 40%;
    color: rgb(218, 214, 214);
    font-size: 13px;
    text-decoration: none;
}

#final>a:hover{
    text-decoration: underline;
}

#final>p{
    text-align: center;
    position: relative;
    font-size: 13px;
    left: 4%;
    transform: translateY(-50%);
    color: rgb(218, 214, 214);;
}

#final{
    margin-top: 35px;
}

@media(max-width:480px){
    #grid_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: scaleX(110%);
        position: relative;
        left: -2.7%;
    }
    
    .grid1{
        width: 100%;
    }

    #img_container{
        margin-bottom: 60px;
    }

    .grid1>h5{
        font-size: 14px;
    }

    .grid1>h4{
        font-size: 18px;
    }

    .inner_grid>figure>img{
        transform: translateX(-15%);
    }

    .inner_grid>figure>figcaption{
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: normal; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    #flex_wrapper>h3{
        font-size: 18px;
        position: relative;
        top: -6%;
    }

    #flex_wrapper>h3>span{
        font-size: 15px;
    }

    #flex_wrapper>img{
        height: 130px;
    }

    #right{
        left: 88%;
    }

    #foot1{
        left:8%;
    }

    #foot2{
        left: 9%;
    }

    #foot3{
        left: -10%;
    }

    #last{
        left: 8%;
    }

    .footer2{
        left: 1.3%;
    }

    #a11{
        position: relative;
        left: -13%;
        margin-top: -33px;
    }

    #a1{
        position: relative;
        left: -13%;
        margin-top: -100px;
    }

    #a2{
        left: -35%;
        position: relative;
        margin-top: -60px;
    }

    #a22{
        position: relative;
        left: -35%;
    }

    #a3,#a33{
        position: relative;
        left: -55%;
        margin-top: -35px;
    }

    #a4{
        left: -75%;
    }

    #a44{
        position: relative;
        left: -78%;
        margin-top: -20px;
    }

    #final>a{
        left: 2%;
    }

    #final>p{
        left: 0%;
    }

    #img_container>img{
        height: 300px;
        transform: scaleX(150%);
    }

    #img_container > i:last-child{
        color: black;
        position: absolute;
        z-index: 1;
        font-size: 3rem;
        padding: 120px 0;
        left: 89%;
        top: 0%;
        cursor: pointer;
      }

      #img_container > i:first-child{
        color: black;
        position: absolute;
        font-size: 3rem;
        z-index: 1;
        padding: 120px 0;
        left: -8px;
        top: 0%;
        transform: 'translateY(-50%)';
        cursor: pointer;
      }

      #img_container>i:hover{
        padding:121px 0;
        border: 1px solid white;
      }

      #items{
        overflow: scroll;
        padding: 10px 1px;
      }

      #items>button{
        padding: 7px;
      }

      #logo{
        width: 70px;
        transform: translateX(-15px);
      }

      #searchbox{
        width: 170px; /* Expands to fill available space */
        height: 37px;
        margin-left: -100px;
        margin-right: -213px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px 5px 5px 5px;
        outline: none;
        font-size: 14px;
        box-sizing: border-box;
        border-radius: 7px 0 0 7px;
      }

      #searchicon {
        height: 27px;
        width: 36px;
        background-color: #febd69;
        padding:5px 6px;
        margin-left: 71px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
      }

      #footerlogo{
        position: relative;
        left: -15%;
      }

      #cart{
        left: -3%;
      }

      #personicon{
        left: -89.99px;
      }
      .india,.lang{
        display: flex;
        cursor: pointer;
    }
    
    .india{
        position: relative;
        left: -30px;
        height: 28px;
        width: 70px;
        padding-right: 10px;
        border-radius: 3px;
        border: 1px solid rgb(255, 255, 255,0.6);
    }
    
    .india>p{
        color: white;
        font-size: 13px;
        margin-top: 15px;
    }
    
    #web{
        margin-left: 3px;
    }
    
    .lang{
        position: relative;
        left: -15%;
        padding:0 10px;
        height: 28px;
        width: 115px;
        border-radius: 3px;
        border: 1px solid rgb(255, 255, 255,0.6);
    }


}

